<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>id</key>
		<string>211</string>
		<key>name</key>
		<string>牛肉千层面</string>
		<key>price</key>
		<string>62</string>
		<key>material</key>
		<string></string>
	</dict>
	<key>2</key>
	<dict>
		<key>id</key>
		<string>201</string>
		<key>name</key>
		<string>肉酱意大利长面(或管面)</string>
		<key>price</key>
		<string>46</string>
		<key>material</key>
		<string></string>
	</dict>
	<key>3</key>
	<dict>
		<key>id</key>
		<string>202</string>
		<key>name</key>
		<string>奶油培根意大利场面(或管面)</string>
		<key>price</key>
		<string>46</string>
		<key>material</key>
		<string></string>
	</dict>
	<key>4</key>
	<dict>
		<key>id</key>
		<string>203</string>
		<key>name</key>
		<string>香草鸡肉意大利长面(或管面)</string>
		<key>price</key>
		<string>52</string>
		<key>material</key>
		<string></string>
	</dict>
	<key>5</key>
	<dict>
		<key>id</key>
		<string>221</string>
		<key>name</key>
		<string>海鲜意大利面配西红柿</string>
		<key>price</key>
		<string>58</string>
		<key>material</key>
		<string>配鱿鱼、鲜虾、蛤蜊、橄榄油及我们的西红柿酱</string>
	</dict>
	<key>6</key>
	<dict>
		<key>id</key>
		<string>225</string>
		<key>name</key>
		<string>辣鸡肉意大利面</string>
		<key>price</key>
		<string>58</string>
		<key>material</key>
		<string>配辣椒、鸡肉、橄榄油、洋葱、蘑菇及我们的西红柿酱</string>
	</dict>
	<key>7</key>
	<dict>
		<key>id</key>
		<string>207</string>
		<key>name</key>
		<string>芝士焗鸡皇意大利管面</string>
		<key>price</key>
		<string>56</string>
		<key>material</key>
		<string>需时约20分钟，配鸡胸肉、洋葱、蘑菇、白兰地奶油汁</string>
	</dict>
	<key>8</key>
	<dict>
		<key>id</key>
		<string>208</string>
		<key>name</key>
		<string>奶油烟熏三文鱼意大利长面</string>
		<key>price</key>
		<string>60</string>
		<key>material</key>
		<string></string>
	</dict>
	<key>9</key>
	<dict>
		<key>id</key>
		<string>209</string>
		<key>name</key>
		<string>焗三文鱼意大利管面</string>
		<key>price</key>
		<string>60</string>
		<key>material</key>
		<string>需时20分钟，配三文鱼片、莫苏里拉芝士、蘑菇、白兰地奶油汁</string>
	</dict>
</dict>
</plist>
