<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>上海市赤峰路59弄4号楼1403室</string>
	<string>上海市曹安公路4800号同济大学嘉定校区电子与信息工程学院楼760室</string>
	<string>hello</string>
</array>
</plist>
