<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>每月精选</string>
		<key>content</key>
		<string>selected</string>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>色拉</string>
		<key>content</key>
		<string>salad</string>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>汤</string>
		<key>content</key>
		<string>soup</string>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>披萨</string>
		<key>content</key>
		<string>pizza</string>
	</dict>
	<key>5</key>
	<dict>
		<key>name</key>
		<string>意大利面</string>
		<key>content</key>
		<string>pasta</string>
	</dict>
	<key>6</key>
	<dict>
		<key>name</key>
		<string>三明治</string>
		<key>content</key>
		<string>sandwich</string>
	</dict>
	<key>7</key>
	<dict>
		<key>name</key>
		<string>意大利饭</string>
		<key>content</key>
		<string>risotto</string>
	</dict>
	<key>8</key>
	<dict>
		<key>name</key>
		<string>墨西哥卷</string>
		<key>content</key>
		<string>wrap</string>
	</dict>
	<key>9</key>
	<dict>
		<key>name</key>
		<string>小吃</string>
		<key>content</key>
		<string>snack</string>
	</dict>
	<key>10</key>
	<dict>
		<key>name</key>
		<string>甜品</string>
		<key>content</key>
		<string>dessert</string>
	</dict>
	<key>11</key>
	<dict>
		<key>name</key>
		<string>健康果昔</string>
		<key>content</key>
		<string>smoothies</string>
	</dict>
	<key>12</key>
	<dict>
		<key>name</key>
		<string>奶昔</string>
		<key>content</key>
		<string>milkshake</string>
	</dict>
	<key>13</key>
	<dict>
		<key>name</key>
		<string>鲜榨果汁</string>
		<key>content</key>
		<string>fruitjuice</string>
	</dict>
	<key>14</key>
	<dict>
		<key>name</key>
		<string>软饮料及其他</string>
		<key>content</key>
		<string>drinkandwine</string>
	</dict>
</dict>
</plist>
