<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>id</key>
		<string>106</string>
		<key>name</key>
		<string>皇后披萨</string>
		<key>price</key>
		<string>82</string>
		<key>material</key>
		<string>配火腿、洋葱、蘑菇、樱桃番茄、马苏里拉芝士</string>
	</dict>
	<key>2</key>
	<dict>
		<key>id</key>
		<string>101</string>
		<key>name</key>
		<string>夏威夷披萨</string>
		<key>price</key>
		<string>76</string>
		<key>material</key>
		<string>配火腿、菠萝片、马苏里拉芝士</string>
	</dict>
	<key>3</key>
	<dict>
		<key>id</key>
		<string>104</string>
		<key>name</key>
		<string>意大利比萨</string>
		<key>price</key>
		<string>76</string>
		<key>material</key>
		<string>配意大利香肠、青椒、红椒、蘑菇、马苏里拉芝士</string>
	</dict>
	<key>4</key>
	<dict>
		<key>id</key>
		<string>105</string>
		<key>name</key>
		<string>蜂蜜浸泡奶酪比萨</string>
		<key>price</key>
		<string>88</string>
		<key>material</key>
		<string>配新鲜奶酪、西红柿、蜂蜜、马苏里拉芝士</string>
	</dict>
	<key>5</key>
	<dict>
		<key>id</key>
		<string>106</string>
		<key>name</key>
		<string>金枪鱼比萨</string>
		<key>price</key>
		<string>76</string>
		<key>material</key>
		<string>配金枪鱼、洋葱、蘑菇、樱桃番茄、马苏里拉芝士</string>
	</dict>
	<key>6</key>
	<dict>
		<key>id</key>
		<string>133</string>
		<key>name</key>
		<string>帕尔马火腿比萨</string>
		<key>price</key>
		<string>98</string>
		<key>material</key>
		<string>配帕尔玛火腿、芝士菜、意大利干酪、黑橄榄、酸黄瓜、马苏里拉芝士</string>
	</dict>
	<key>7</key>
	<dict>
		<key>id</key>
		<string>112</string>
		<key>name</key>
		<string>玛格丽特比萨</string>
		<key>price</key>
		<string>62</string>
		<key>material</key>
		<string>配我们的西红柿、樱桃番茄、马苏里拉芝士</string>
	</dict>
	<key>8</key>
	<dict>
		<key>id</key>
		<string>113</string>
		<key>name</key>
		<string>鸡肉比萨</string>
		<key>price</key>
		<string>76</string>
		<key>material</key>
		<string>配鸡肉、蘑菇、洋葱、马苏里拉芝士</string>
	</dict>
	<key>9</key>
	<dict>
		<key>id</key>
		<string>108</string>
		<key>name</key>
		<string>欲望无限比萨</string>
		<key>price</key>
		<string>98</string>
		<key>material</key>
		<string>配纽伦堡式肠、图林根式肠、培根、意大利香肠、洋葱、橄榄、马苏里拉芝士</string>
	</dict>
	<key>10</key>
	<dict>
		<key>id</key>
		<string>115</string>
		<key>name</key>
		<string>仙芝比萨</string>
		<key>price</key>
		<string>98</string>
		<key>material</key>
		<string>配蓝芝士、帕尔玛芝士、马苏里拉芝士</string>
	</dict>
	<key>11</key>
	<dict>
		<key>id</key>
		<string>117</string>
		<key>name</key>
		<string>墨西哥香辣培根比萨</string>
		<key>price</key>
		<string>88</string>
		<key>material</key>
		<string>配墨西哥辣椒、意大利香肠、培根、青橄榄、黑橄榄</string>
	</dict>
</dict>
</plist>
