<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>Selected</string>
		<key>content</key>
		<string>selected_en</string>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>Salad</string>
		<key>content</key>
		<string>salad_en</string>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>Soup</string>
		<key>content</key>
		<string>soup_en</string>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>Pizza</string>
		<key>content</key>
		<string>pizza_en</string>
	</dict>
	<key>5</key>
	<dict>
		<key>name</key>
		<string>Pasta</string>
		<key>content</key>
		<string>pasta_en</string>
	</dict>
	<key>6</key>
	<dict>
		<key>name</key>
		<string>Sandwich</string>
		<key>content</key>
		<string>sandwich_en</string>
	</dict>
	<key>7</key>
	<dict>
		<key>name</key>
		<string>Risotto</string>
		<key>content</key>
		<string>risotto_en</string>
	</dict>
	<key>8</key>
	<dict>
		<key>name</key>
		<string>Wrap</string>
		<key>content</key>
		<string>wrap_en</string>
	</dict>
	<key>9</key>
	<dict>
		<key>name</key>
		<string>Snack</string>
		<key>content</key>
		<string>snack_en</string>
	</dict>
	<key>10</key>
	<dict>
		<key>name</key>
		<string>Dessert</string>
		<key>content</key>
		<string>dessert_en</string>
	</dict>
	<key>11</key>
	<dict>
		<key>name</key>
		<string>Smoothies</string>
		<key>content</key>
		<string>smoothies_en</string>
	</dict>
	<key>12</key>
	<dict>
		<key>name</key>
		<string>Milkshake</string>
		<key>content</key>
		<string>milkshake_en</string>
	</dict>
	<key>13</key>
	<dict>
		<key>name</key>
		<string>Fruit Juice</string>
		<key>content</key>
		<string>fruitjuice_en</string>
	</dict>
	<key>14</key>
	<dict>
		<key>name</key>
		<string>Drink and Wine</string>
		<key>content</key>
		<string>drinkandwine_en</string>
	</dict>
</dict>
</plist>
